<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student info</h1>
    {% if student %}
        {{student.name}}
        {{student.roll}}
        {{student.doj}}
    {% endif %}
    <br>
    {% if studentlist %}
        {% for stu in studentlist%}
            <p><a href="{% url 'home' stu.id %}">stu.name</a></p>
        {% endfor %}
    {% endif %}


</body>
</html>